<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/jms
        http://www.springframework.org/schema/jms/spring-jms.xsd
		http://activemq.apache.org/schema/core
        http://activemq.apache.org/schema/core/activemq-core.xsd">

    <!--
        目的：spring和activeMq整合：通过整合JmsTemplate对象进行消息发送
    -->
<!--    1.中间件连接工厂-->
    <bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://192.168.80.128:61616"></property>
    </bean>
<!--    2.spring管理工厂-->
    <bean id="connectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
        <property name="targetConnectionFactory" ref="activeMQConnectionFactory"></property>
    </bean>
<!--    3.创建jmsTemplate-->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"></property>
    </bean>
<!--    4.指定点对点地址-->
    <bean id="queue" class="org.apache.activemq.command.ActiveMQQueue">
<!--        名称-->
        <constructor-arg value="email"></constructor-arg>
    </bean>
    <!--4.2 指定目的地址：topic-->
<!--    <bean id="topic" class="org.apache.activemq.command.ActiveMQTopic">-->
<!--        &lt;!&ndash;名称&ndash;&gt;-->
<!--        <constructor-arg value="xxx02"></constructor-arg>-->
<!--    </bean>-->

<!--spring扫描注解类-->
<!--springmvc配置文件已扫描-->
</beans>